body
{
   margin: 0px;
   padding: 0px;
   font-family: 'Montserrat', sans-serif;
   height: 980px;
   width: 100%;
   background-color: black;
}

.wrapper
{
   margin: 0px;
   height: 980px;
   width: 100%;
   text-align: center;
}

.two_buttons button
{
   margin-top: 450px;
   text-align: center;
   height: 400px;
   width: 200px;
}

#generate_text_bg
{
   background: none;
   cursor: pointer;
   outline: none;
   color: white;
   font-size: 20px;
   width: 180px;
   height: 80px;
   font-family: 'Montserrat', sans-serif;
   background: #5c5c5c;
   text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   text-align: center;
}

#clear
{
   background: none;
   cursor: pointer;
   outline: none;
   color: red;
   font-size: 20px;
   width: 180px;
   height: 80px;
   font-family: 'Montserrat', sans-serif;
   background: #5c5c5c;
   text-shadow: 0px 2px 0px rgba(0, 0, 0, 0.3);
   overflow: hidden;
   text-align: center;
}

.text_generate
{
   color: white;
   padding-top: 10px;
   font-size: 20px;
}

.color1
{
   background-color: black;
   color: white;
}

.color2
{
   background-color: white;
   color: black;
}

.color3
{
   background-color: red;
   color: white;
}

.color4
{
   background-color: green;
   color: white;
}

.color5
{
   background-color: yellow;
   color: black;
}

.color6
{
   background-color: blue;
   color: white;
}