body
{
	margin: 0px;
	padding: 0px;
	font-family: 'Montserrat', sans-serif;
}

/*РАБОТА С КЛАССАМИ ТЕКСТА И КНОПКИ*/

.wrapper
{
	margin: auto;
	height: 1920;
	width: 100%;
	background-color: black;
}


.random
{
	margin-top: 350px;
	text-align: center;
	font-size: 50px;
}

#text
{
	display: block;
	color: white;
	margin-top: 30px;
}

#clear
{
	background: none;
	cursor: pointer;
	outline: none;
	color: white;
	font-size: 40px;
	width: 250px;
	height: 200px;
	border: 3px solid red;
	border-radius: 50%;
	font-family: 'Montserrat', sans-serif;
}

#generate_text_bg
{
	background: none;
	cursor: pointer;
	outline: none;
	color: white;
	font-size: 40px;
	width: 250px;
	height: 200px;
	border: 3px solid white;
	border-radius: 50%;
	font-family: 'Montserrat', sans-serif;
}

.color1
{
	background-color: black;
	color: white;
}

.color2
{
	background-color: white;
	color: black;
}

.color3
{
	background-color: red;
	color: white;
}

.color4
{
	background-color: green;
	color: black;
}

.color5
{
	background-color: yellow;
	color: black;
}

.color6
{
	background-color: blue;
	color: white;
}
